*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


h1{
	font-family: Lobster;
	width: 100%;
	text-align: center;
	justify-content: center;
}
div{
	background-color: red;
}
main{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #efefef;
	display: flex;
	flex-wrap: wrap;
}
.photo{
	width: calc(50% - 30px);
	height: calc((35vw - 30px)/16*9);
	margin: 10px;
	background-color: red;
	background-position: center;
	background-size: cover;
}
.photo1{
	background-image: url(../img/img1.jpg);
}
.photo2{
	background-image: url(../img/img2.jpg);
}
.photo3{
	background-image: url(../img/img3.jpg);
}
.photo5{
	background-image: url(../img/img4.jpg);
}
.photo6{
	background-image: url(../img/img5.jpg);
}
.photo7{
	background-image: url(../img/img6.jpg);
}
.photo8{
	background-image: url(../img/img7.jpg);
}
.photo9{
	background-image: url(../img/img8.jpg);
}
.photo4{
	background-image: url(../img/img9.jpg);
}